body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#connectButton {
    margin-top: 20px;
    padding: 10px 20px;
}

#lockedTokenDiv {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lockButton, #unlockButton {
    margin-top: 10px;
    padding: 10px 20px;
}
